alabaster==0.7.13
Babel==2.12.1
beautifulsoup4==4.12.2
breathe==4.35.0
certifi==2023.5.7
charset-normalizer==3.1.0
docutils~=0.18.0
idna==3.4
imagesize==1.4.1
importlib-metadata==6.6.0
Jinja2==3.1.2
MarkupSafe==2.1.2
packaging==23.1
pydata-sphinx-theme==0.13.3
Pygments==2.15.1
pyparsing==3.0.9
pytz==2023.3
PyYAML==6.0
requests>=2.31.0
snowballstemmer==2.2.0
soupsieve==2.4.1.
Sphinx==6.2.1
sphinx-book-theme==1.0.1
sphinx-prompt==1.6.0
sphinx-tabs==3.4.1
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
urllib3==2.0.2
zipp==3.15.0
